name: Cypress CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Install Dependencies
      run: npm install

    - name: Install Cypress
      run: npm install cypress --save-dev

    - name: Use Secrets
      run: |
        printf "{\n$\"EMAIL\": \"{{ secrets.EMAIL }}\"\n\"PASSWORD\": \"${{ secrets.PASSWORD }}\"\n\"INVALID_EMAIL\": \"${{ secrets.INVALID_EMAIL }}\"\n\"INVALID_PASSWORD\": \"${{ secrets.INVALID_PASSWORD }}\"\n}" > cypress.env.json |
        cat cypress.env.json
    # - name: Run Cypress Tests
    #   run: npm run cypress:run
